body{
   font: 20px Arial, sans-serif;
}

.navbar{
    background-color:darkgoldenrod
}
.quem-somos{
    background-color: rgb(156, 75, 75);
    color: white;
}
.margin{

    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: darkgoldenrod;
    color:rgb(156, 75, 75);
    
}
.bg-footer{
    background-color: tomato;
    color: darkred;
}